@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  color: white; /* White text color for contrast */
  text-align: center;
}

body {
  height: 100%;
  font-size: 18px; /* You can adjust font size here */
  overflow-y: auto;  /* Enable scrolling if content overflows */
  min-height: 100vh;  /* Ensure the body takes full height */
  background: linear-gradient(to bottom, white, #f8bbd0); /* Gradient background */
  margin: 0; /* Remove any default margin */
}

html {
  height: 100%; /* Ensure html takes full height */
}

/* layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Ensure the layout takes at least 100% of the viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;  /* Ensure the root takes full height */
}

.main-content {
  flex-grow: 1;  /* Allow content to fill the available space */
  overflow-y: auto;  /* Enable scrolling if content exceeds available space */
}




.yuji-syuku-regular {
  font-size: 2rem;
  font-family: "Yuji Syuku", serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.splash-regular {
  font-family: "Splash", serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

