@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  color: rgb(0, 0, 0); /* White text color for contrast */
  text-align: center;
}

body {
  height: 100%;
  font-size: 18px; /* You can adjust font size here */
  overflow-y: auto;  /* Enable scrolling if content overflows */
  min-height: 100vh;  /* Ensure the body takes full height */
  background-color: #fab6dc;
 /* background: linear-gradient(to bottom, white, #f8bbd0); /* Gradient background */
  margin: 0; /* Remove any default margin */
  overflow: auto;
}

html {
  height: 100%; /* Ensure html takes full height */
}

/* layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Ensure the layout takes at least 100% of the viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;  /* Ensure the root takes full height */
}

.main-content {
  flex-grow: 1;  /* Allow content to fill the available space */
  overflow-y: auto;  /* Enable scrolling if content exceeds available space */
}

.container {
  position: relative; /* Make the container the reference point for absolute positioning */
}

.header {
  z-index: -20; /* Ensure header text stays above the image */
}
.about {
  overflow-y: auto;
}

@keyframes hueShift {
  0% {
    filter: saturate(50); /* Starting hue */
  }
  33% {
    filter: saturate(100); /* Rotate to achieve a color change (e.g., pink) */
  }
  66% {
    filter: saturate(150); /* Rotate to achieve another color (e.g., gray) */
  }
  100% {
    filter: saturate(200); /* Complete the cycle back to the original hue */
  }
}


.overlayImage {
  position: absolute; /* Absolute positioning allows us to move the image over the header */
  top: 0; 
  left: 0; /* Align to the left of the container */
  width: auto; /* Make the image span across the full width */
  height: 100%; /* Set the image height to 50% of the viewport height */
  object-fit:contain; /* Ensure the image covers the area without stretching */
  z-index: 5; /* Place the image behind the header and content */
  overflow-y: auto;

}

.overlayHue{
  filter: hue-rotate(90deg);
}


main {
  padding-top: 1px; /* Ensure there's enough padding below the image */
}



.yuji-syuku-regular {
  font-size: 2rem;
  font-family: "Yuji Syuku", serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.splash-regular {
  font-family: "Splash", serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.limelight-big {
  font-size: 80px;
  z-index: 20;
  font-family: "Limelight", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.limelight-medium {
  font-size: 30px;
  z-index: 20;
  font-family: "Limelight", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
