@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb7db;  /* Pink background */
  font-family: Arial, sans-serif;
}

h1, p {
  color: white; /* White text color for contrast */
  text-align: center;
}

body {
  font-size: 18px;  /* You can adjust font size here */
}
